
    .logo
    {
        margin-left: 1rem;
        color: rgb(220, 15, 15);
        font-size: 30px;
        font-weight: bolder;
    }
    .ul{
        display: flex;
        margin: 10px;
       
    }
    li{
        margin: 0 1rem;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-weight: bolder;
    }
   .item{
    text-decoration: none;
    color: #fff;
    
   }

    


    

